<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:mca="http://www.mashibing.com/schema/mca"
	   xsi:schemaLocation="
	   	http://www.springframework.org/schema/beans
       	http://www.springframework.org/schema/beans/spring-beans.xsd
    	http://www.mashibing.com/schema/mca
    	http://www.mashibing.com/schema/mca.xsd">

	<mca:user id="testUser" userName="mca" password="mca" email="123@test.com"/>

	<bean id="helloWorldBean" class="org.springframework.bean.HelloWorldBean"/>

	<bean id="testBeanFactoryPostProcessor" class="org.springframework.bean.TestBeanFactoryPostProcessor"/>

	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource"/>

	<bean id="testApplicationEventListener" class="org.springframework.event.TestApplicationEventListener"/>

	<bean id="testAwareProcessor" class="org.springframework.aware.TestAwareProcessor"/>

	<bean id="testApp" class="org.springframework.aware.TestApp"/>

	<bean class="org.springframework.bean.TestBeanDefinitionRegistryPostProcessor"/>
</beans>
