<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:mca="http://www.mashibing.com/schema/mca"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
       	http://www.springframework.org/schema/beans/spring-beans.xsd
    	http://www.mashibing.com/schema/mca
    	http://www.mashibing.com/schema/mca.xsd
    	http://www.springframework.org/schema/context
    	https://www.springframework.org/schema/context/spring-context.xsd">


<!--	<context:component-scan base-package="org.springframework.bean,org.springframework.annotation"/>-->

<!--	<mca:user id="testUser" userName="mca" password="mca" email="123@test.com"/>-->

<!--	<bean id="helloWorldBean" class="org.springframework.bean.HelloWorldBean"/>-->

<!--	<bean id="testBeanFactoryPostProcessor" class="org.springframework.bean.TestBeanFactoryPostProcessor"/>-->

<!--	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource"/>-->

<!--	<bean id="testApplicationEventListener" class="org.springframework.event.TestApplicationEventListener"/>-->

<!--	<bean id="testAwareProcessor" class="org.springframework.aware.TestAwareProcessor"/>-->

<!--	<bean id="testApp" class="org.springframework.aware.TestApp"/>-->

<!--	<bean class="org.springframework.bean.TestBeanDefinitionRegistryPostProcessor"/>-->

<!--	<bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean"/>-->

<!--	<bean id="prototypeBean" class="org.springframework.bean.PrototypeBean" scope="prototype"/>-->

<!--	<bean id="testFactoryBean" class="org.springframework.bean.TestFactoryBean"/>-->

<!--	<bean class="org.springframework.supplier.AppSupplier"/>-->
<!--	<bean id="app" class="org.springframework.supplier.App"/>-->
<!--	<bean class="org.springframework.supplier.AppSupplierBeanFactoryPostPrcessor"/>-->

<!--	<bean id="helloWorldBean" class="org.springframework.bean.HelloWorldBean" scope="prototype">-->
<!--		<constructor-arg name="message" value="mca"/>-->
<!--	</bean>-->

<!--	<bean id="person" class="org.springframework.autowire.Person" autowire="byName">-->
<!--		<property name="name" value="mca"/>-->
<!--		<property name="hobbies">-->
<!--			<list>-->
<!--				<ref bean="hobby1"/>-->
<!--				<ref bean="hobby2"/>-->
<!--			</list>-->
<!--		</property>-->
<!--	</bean>-->
<!--	<bean id="address" class="org.springframework.autowire.Address">-->
<!--		<property name="city" value="beijing"/>-->
<!--		<property name="street" value="chang'an street"/>-->
<!--		<property name="nation" value="China"/>-->
<!--	</bean>-->
<!--	<bean id="hobby1" class="org.springframework.autowire.Hobby">-->
<!--		<property name="hobbyName" value="basketball"/>-->
<!--		<property name="duration" value="10 years"/>-->
<!--	</bean>-->
<!--	<bean id="hobby2" class="org.springframework.autowire.Hobby">-->
<!--		<property name="hobbyName" value="football"/>-->
<!--		<property name="duration" value="10 years"/>-->
<!--	</bean>-->

<!--	<bean id="person" class="org.springframework.autowire.Person">-->
<!--		<property name="name" value="mca"/>-->
<!--		<property name="hobbies">-->
<!--			<list>-->
<!--				<ref bean="hobby1"/>-->
<!--			</list>-->
<!--		</property>-->
<!--	</bean>-->
<!--	<bean id="hobby1" class="org.springframework.autowire.Hobby">-->
<!--		<property name="hobbyName" value="basketball"/>-->
<!--		<property name="duration" value="10 years"/>-->
<!--	</bean>-->

	<bean id="circularA" class="org.springframework.circularreference.CircularA">
		<property name="circularB" ref="circularB"/>
	</bean>

	<bean id="circularB" class="org.springframework.circularreference.CircularB">
		<property name="circularA" ref="circularA"/>
	</bean>

</beans>
